.musicContainer {
    width:2304px;
    height: 150px;
    background-color:rgb(36, 37, 37);
}

.controlsContainer .playPauseButton{
    height:30px;
    width:30px;
    background-color:rgb(36, 37, 37);
    border:none;
    cursor:pointer;

}

.controlsContainer .playlogo{
    color:white;
    height:50px;
    width:50px;
    margin: 10px;
}

.controlsContainer .previouslogo{
    color:white;
    height:50px;
    width:50px;
    margin: 10px;

}
.controlsContainer .shufflelogo{
    color:white;
    height:30px;
    width:30px;
    margin: 20px;   
}

.controlsContainer .nextlogo{
    color:white;
    height:50px;
    width:50px;
    margin: 10px;

}

.controlsContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
 .musicContainer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    /* margin-left: 1000px; */
    margin-bottom: 0;
    
}

.musicContainer li{
    padding: 0;
    margin: 0;
}

.sideFooterContainer{
    margin-top: 20px;
    width:800px;
}
.sideFooterContainer img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
        
}
.sideFooterContainer li{
    padding: 0;
    margin: 0;
}

.sideFooterContainer .songTitle{
    margin: 0;
    padding:0;
    margin-left: 20px;
    margin-top: 10px;
    color:white;
    text-align: left;
    font-size: 30px;
}
.sideFooterContainer .songArtist{
    text-align: left;
    padding: 0;
    margin:0;
    color:white;
    margin-left: 20px;
    font-size: 15px;
}

.sideFooterContainer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: flex-start;
    
}

.sideFooterContainer .heartlogo{
    height: 25px;
    width: 25px;
    color:white;
    margin-left:20px;
}
