.dropdownButton {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  height: 60px;
  width: 150px;
  text-align: center;
  

  
    
  }

  
  
  .MainContainer {
    background-color:rgb(36, 37, 37);
    

  }
  h1{
    text-align: left;
    padding:20px;
    color: white;
  }

  .HeaderContainer {
    position: relative;
    display: inline-block;
    height: fit-content;
    margin-left: 1834px;
    
    
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 
  }
  
  .dropdownContent a {
    color: white;
    background-color: rgb(58, 56, 56);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdownContent a:hover {background-color:gray}
  
  .HeaderContainer:hover .dropdownContent {
    display: block;
  }

  
  
  .HeaderContainer:hover .dropdownButton {
    background-color:black;
  }

  

  .dropdownButton img{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    
  }

  .dropdownButton span {
    float: left;
    
  }

  .dropdownButton p{
    font-size: 18px;
    margin: 0;
    padding: 1px;
    margin-top: 5px;
    font-weight: bold;

  }
  